.homescreen {
  /* width: 375px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial;
}

.button-nav {
  display: flex;
  justify-content: center;
  background-color: #4e6883;
  height: 100px;
}

.button {
  padding: 20px 0 20px 0;
  width: 150px;
  margin: 10px;
  background-color: #4e6883;
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button.disabled {
  color: lightgray;
}

.startstop-text {
  font-weight: bold;
  margin: 10px;
}

.button-text {
  font-size: 0.8em;
  margin: 10px;
}

.text {
  text-align: center;
}
